<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron text-center">
    <h1>Your own cat-dog classifier</h1>
    <p>Upload to know your animal as cot-or-dog!!! </p> 
</div>
    
 
    <form action="/predict" method="post" enctype="multipart/form-data" style="margin-top: 50px; width: 60%; text-align: center; margin: auto;" onsubmit="showloading()">
        <span class="text-left btn btn-default btn-file">
            Upload Image <input type="file" name="image">
        </span>   
     
        <span class="text-right">
          <input type="submit" value="Predict" class="btn btn-primary">
        </span>
      </form>
 
</body>
</html>