<html>
<head>
 
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Predict Human or Horse ML App</title>
</head>
<body>
 
 
 
 
  <div class="container">
  <div class="row">
 
    <div class="col-sm">
      <span class="border border-primary">
        <img src="{{ user_image }}" alt="User Image" class="img-thumbnail">
      </span>
    </div>
 
    <div class="col-sm">
      <h1>It's <span class="badge badge-secondary">{{pred_output}}</span></h1>
    </div>
 
  </div>
</div>
 
</body>
</html>